@charset "utf-8";
/* CSS Document...Conversion Systems */

body, html, p, td, tr, table, span, a, div, li, ol, ul, img, h1, h2, h3, h4, h5, em {
	border: none;
	margin: 0;
	padding: 0;
}

body, html {
height: 100%;
width: 100%;	
}
body {

 	background: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
}
.header {
	position: relative;
	width: 905px;
	height: 157px;
}

.header-nav {
	position:relative;
	width: 905px;
	background: #ffffff;
	height: 40px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
}

.nav {
	position: absolute;
	width: 589px;
	height: 32px;
	left: 5px;
	top: 5px;
	color: #429b2a;
	line-height: 32px;
	vertical-align:middle;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
}
.nav a {

	color: #429b2a;
	margin: 0 40px;
	text-decoration: none;	
}
.header-main {
	position:relative;
	background: url(//d10yufw89ry03z.cloudfront.net/images/header_bg.jpg) repeat-x;
	width: 905px;
	height: 117px;	
}

.nav-logo {
	position: absolute;
	width: 159px;
	height: 90px;
	left: 19px;
	top: 15px;
}

.header-headline {
	position: absolute;
	width: 699px;
	height: 64px;
	left: 198px;
	top: 44px;
	color: #444444;
	text-align:right;
	font-size: 24px;
}

.header-headline .green {
	font-size: 26px;
	font-weight: bold;
	color: #137b03;	
}

.header-headline-upsell {
	position: absolute;
	left: 197px;
	top: 12px;
	width: 682px;
	height: 98px;
	text-align: right;
	font-size: 24px;
	font-weight: bold;
	color: #555;
}

.nav-ssl {
	position: absolute;
	width: 110px;
	height: 30px;
	left: 788px;
	top: 6px;
}

.nav-try {
	position: absolute;
	left: 668px;
	width: 238px;
	top: -18px;
	height: 59px;
}

.nav-asotv {
	position: absolute;
	left: 611px;
	width: 42px;
	top: 5px;
	height: 33px;
}
.phone_number {
	position: absolute;
	top: 12px;
	left: 444px;
	color: #555555;
	font-size: 14px;
	width: 328px;
	text-align: right;
	height: 21px;
}

h2 {
	font-size: 26px;
	font-weight: bold;
	color: #137b03;
	line-height: normal;
	padding-bottom: 20px;
}
.clear {
	clear:both;
	position:relative;
}

.container {
	position: relative;
	margin: 30px auto 0;
	width: 905px;
	height: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-box-shadow: 0px 0px 4px 2px #d0d0d0;
	box-shadow: 0px 0px 4px 2px #d0d0d0; 		
}
.home_bottom {
	position: relative;
	margin: 0 auto;
	width: 905px;
}
.site_bottom {
	position: relative;
	width: 905px;
}

.site_bottom img {
display: block;	
}
.home_left {
	position: relative;
	width: 596px;
	height: auto;
	float: left;
}
.left {
	position: relative;
	width: 536px;
	height: auto;
	float: left;
	padding: 20px 30px;
}
.left p {
	color: #444444;	
	line-height: 20px;
	padding-bottom: 20px;
}

#mbg p {
	line-height: 21px;
	color: #575757;
	font-size: 14px;
	padding-bottom: 30px;
}

#mbg p.orange {
	color: #ff6802;
}

#mbg {
	width: 623px;
	height: 296px;
	padding: 55px 35px 30px;
}

.how {
display: inline-block;	
margin-bottom: 14px;
}

.how img {
float:left;
width: 282px;
position:relative;
margin: 0 20px 0 0;	
}

.how p {
float:left;	
width: 234px;
padding-bottom: 0;
position:relative;
}

.f14 {
	font-size: 14px;
}

.f15 {
	font-size: 15px;
}

.f16 {
	font-size: 16px;
}

.f17 {
	font-size: 17px;
}

.f18 {
	font-size: 18px;
}

.f19 {
	font-size: 19px;
}

.f21 {
	font-size: 21px;
}

.f22 {
	font-size: 22px;
}

.f23 {
	font-size: 23px;
}

.f24 {
	font-size: 24px;
}

.f20 {
	font-size: 20px;
}

.left a {
	color: #429b2a;
	text-decoration: none;
}

.orange, .left .orange {
	color: #ff6802;
}

.underline, .left .underline {
text-decoration: underline;	
}

.fleft {
float:left;
margin: 0 20px 20px 0;	
}

.fright {
float:right;
margin: 0 0 20px 20px;
}

.bold {
	font-weight: bold;
}

.center {
text-align:center;
}

.pad0 {
padding-bottom: 0;	
}

.left ul {
	color: #444444;
	line-height: 20px;
	padding-bottom: 20px;
	margin-left: 20px;
}
.right {
	position: relative;
	width: 309px;
	height: auto;
	margin: 0;
	padding: 10px 0 0 0;
	float: left;
}
.home_video {
	position: relative;
	width: 298px;
	margin-bottom: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 2px solid #a3a4a3;
}

.home_video object, .home_video video {
	-webkit-border-radius: 7px;
	border-radius:7px;
}

.footer {
	position:relative;
	height: 100%;
	width: 100%;
	background: #888888;
	padding: 20px 0;
}
.footer p {
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	margin: 0;
	padding: 0 0 30px 0;
}

.footer p.phone {
	font-weight: bold;
	font-size: 20px;	
}

.footer a {
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin: 0 10px;
	text-decoration:none;
}

.right_basket {
	width: 233px;
	padding: 20px;
	background: url(//d10yufw89ry03z.cloudfront.net/images/right_basket.jpg) no-repeat right bottom;	
-webkit-box-shadow: inset 0px 0px 16px 4px #d0d0d0;
box-shadow: inset 0px 0px 16px 4px #d0d0d0; 
margin-bottom: 30px;
height: 330px;
margin-left: 12px;
}

.right_basket p {
	font-size: 10px;
	color: #000;
	line-height: normal;
	padding-bottom: 12px;	
}

/* RECEIPT */

#receipt_table1 td {
	color: #515151;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 20px;
}
#receipt_table2 td {
	color: #515151;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
#receipt_table2 {
	margin-top: 30px;
}

/* CONVERSION CARTS */

/* -----CART A----- */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix {
	zoom: 1;
} /* IE6 */
*:first-child+html .clearfix {
	zoom: 1;
} /* IE7 */

.cartA {
	width: 298px;
	border: 1px solid #d0d0d0;
	position:relative;
	margin-bottom: 33px;
	-webkit-box-shadow: -2px 2px 4px 2px #d0d0d0;
	box-shadow: -2px 2px 4px 2px #d0d0d0; 
}

.cartA img {
	margin-bottom: 10px;	
}

.cartA .form_line {
	position:relative;
	width: 260px;
	display:block;
	margin:0 auto;
	padding-bottom: 10px;
}
.cartA .form_line_btn {
	position:relative;
	width: 260px;
	display:block;
	margin: 0 auto;
	padding: 0 0 10px;
	text-align:center;
}
.cartA .form_line_guarantee {
	position:relative;
	width: 260px;
	display:block;
	margin: 0 auto;
	font-size: 15px;
	color: #4f4f4f;
	padding-bottom: 20px;
	font-weight: bold;
	text-align:center;
}
.cartA .form_line_guarantee a {
	color: #4f4f4f;
	text-decoration: underline;
}
.cartA .label-1 {
	float:left;
	position:relative;
	width:100px;
	padding-top: 2px;
}
.cartA .label-2 {
	float:left;
	position:relative;
	width: 233px;
	padding-top: 2px;
	font-weight: bold;
}
.cartA .label-3 {
	position:relative;
	width: 260px;
}
.cartA .checkbox-right {
	float:left;
	position:relative;
}
.cartA .text-1 {
	width: 154px;
	position:relative;
	float:left;
}
.cartA .text-2 {
	width: 90px;
}
.cartA .text-3 {
	width: 40px;
	float:left;
	margin-right: 4px;
}
.cartA .text-4 {
	width: 46px;
	float:left;
}
.cartA .error-1 {
	position:relative;
	margin-left: 100px;
	font-size: 11px;
	color: #ff0000;
}
.cartA .error-2 {
	position:relative;
	font-size: 11px;
	color: #ff0000;
}
.cartA .cvv {
	color: #09C;
	font-size: 11px;
	text-decoration: underline;
}
.cartA .choosetable td {
	text-align:center;
	padding-top: 5px;
}
.cartA .choosetable label {
	display:block;
	font-size: 11px;
}
/* -----CART B----- */

.cart_content_B {
	position:relative;
	display:block;
	width: 850px;
	margin: 0 auto;	
	padding-top: 20px;
}

.cart_left h2 {


	font-size: 26px;	
	color: #429b2a;
	padding: 0;
	margin: 0;
}

.cart_right h2 {


	font-size: 26px;	
	color: #429b2a;
	padding: 0 0 30px 0;
	margin: 0;
}

.basket_title {
	font-size: 15px;
	font-weight: bold;
	color: #555;	
}

.basket_description {
	font-size: 15px;
	
}

.cart_table {
	display:block;
	width: 505px;
	position:relative;	
}

.cart_image {
	float:left;
	position:relative;
	width: 145px;	
	margin-right: 20px;
	margin-bottom: 20px;
}

.cart_text {
	float:left;
	position:relative;
	width: 180px;
	margin-bottom: 20px;
	margin-right: 20px;	
}

.cart_select {
	float:left;
	position:relative;
	width: 65px;	
}

.product_price {
	float:left;
	position:relative;
	width: 64px;	
}

.cart_totals {
	position:relative;
	display:block;
	width: 505px;
}

.cart_totals_left {
  float: left;
  margin-left: 360px;
  position: relative;
  width: 70px;
}

.cart_totals_right {
	position:relative;
	float:left;
	width: 64px;	
}

.cart_left {
  color: #767676;
  float: left;
  font-size: 15px;
  padding-top: 10px;
  position: relative;
  width: 520px;
}

.cart_right {
  float: left;
  position: relative;
  width: 280px;
}

.cart_offer {
  font-size: 11px;
  line-height: 16px;
  margin-left: -20px;
  padding-top: 20px;
  position: relative;
  z-index: 10000;
}
.horizontal_dots {
	height: 1px;
	margin: 10px 0;
	border-top: 2px solid #e5e6e5;	
}

.vertical_dots {
	position:relative;
	float:left;
	width: 1px;
	height: 370px;
	margin: 0 20px 0 20px;
	border-right: 2px solid #e5e6e5;	
}

.cartB {
	width: 261px;
	padding: 10px;
	font-size: 15px;
	position:relative;
	color: #555555;
}
.cartB .form_line {
	position:relative;
	width: 260px;
	display:block;
	padding-bottom: 8px;
}
.cartB .form_line_btn {
	position:relative;
	width: 260px;
	display:block;
	padding: 10px 0;
	text-align:center;
}
.cartB .form_line_guarantee {
	position:relative;
	width: 260px;
	display:block;
	font-size: 15px;
	text-align:center;
}
.cartB .form_line_guarantee a {
	text-decoration: underline;
}
.cartB .label-1 {
	float:left;
	position:relative;
	width:100px;
	padding-top: 2px;
}
.cartB .label-2 {
	float:left;
	position:relative;
	width: 233px;
	padding-top: 2px;
	font-weight: bold;
}
.cartB .label-3 {
	position:relative;
	width: 260px;
}
.cartB .checkbox-left {
	float:left;
	margin-right: 4px;
	position:relative;
}
.cartB .text-1 {
	width: 154px;
	position:relative;
	float:left;
}
.cartB .text-2 {
	width: 110px;
}
.cartB .text-3 {
	width: 90px;
	float:left;
	margin-right: 6px;
}
.cartB .text-4 {
	width: 45px;
	float:left;
	margin-right: 6px;
}

.cartB .error-1 {
	position:relative;
	margin-left: 100px;
	font-size: 11px;
	color: #ff0000;
}
.cartB .error-2 {
	position:relative;
	font-size: 11px;
	color: #ff0000;
}
.cartB .cvv {
	color: #09C;
	font-size: 11px;
	text-decoration: underline;
}

.upsell {
	position:relative;
	width: 850px;
	margin: 0 auto;
	padding: 40px 0 20px;	
}

.upsell p {
	color: #555;
	padding-bottom: 30px;
	font-size: 15px;	
	line-height: 25px;
	width: 400px;
}

.upsell_btns a {
	text-decoration: none;		
}

.upsell_btns a img {
	text-decoration: none;	
}

.upsell p.upsell_btns {
  margin-right: -15px;
  margin-top: -20px;
  text-align: right;
  width: auto;
}

.upsell .arrow {
  display: inline-block;
  height: 70px;
  position: relative;
  top: -30px;
  width: 67px;
}
.upsell ul {
	color: #555;
	font-size: 15px;
	line-height: 25px;	
	list-style: none;
}

.upsell li {
		list-style: none;
	padding-left: 30px;
	background: url(//d10yufw89ry03z.cloudfront.net/images/checkmark.png) no-repeat;
	padding-bottom: 20px;	
}

.upsell p.ask {
  font-size: 25px;
  font-weight: bold;
  width: auto;
  padding-top: 30px;
  line-height: normal;	
}

/* home */

.homebullets {
	position: absolute;
	color: #555;
	left: 32px;
	top: 334px;
	width: 325px;
	height: 115px;
	font-size: 14px;
}

.homebullets li {
	list-style: none;
	padding-left: 20px;
	padding-bottom: 20px;
	background: url(//d10yufw89ry03z.cloudfront.net/images/orange_bullet.png) no-repeat 0 3px;	
}

.home2 {
	position: absolute;
	color: #555;
	left: 246px;
	top: 554px;
	font-weight: bold;
	font-size: 21px;
	height: 63px;
	width: 335px;
}

.homebullets2 {
	position: absolute;
	color: #555;
	left: 274px;
	top: 633px;
	font-size: 15px;
	height: 165px;
	width: 281px;
}

.homebullets2 li {
	list-style: none;
	padding-left: 20px;
	padding-bottom: 20px;
	background: url(//d10yufw89ry03z.cloudfront.net/images/orange_bullet.png) no-repeat 0 3px;	
}

.home3 {
	position: absolute;
	color: #555;
	left: 276px;
	top: 820px;
	width: 309px;
	height: 76px;
	font-size: 15px;
}

.home3 a {
	text-decoration: underline;
	
}

.home3 p {
	padding-bottom: 12px;	
}

.homeb1 {
	position: absolute;
	top: 71px;
	color: #555;
	left: 18px;
	font-size: 16px;
	height: 105px;
	line-height: 23px;
	width: 458px;
}

.homeb2 {
	position: absolute;
	top: 57px;
	left: 696px;
	color: #555;
	font-size: 14px;
	line-height: 19px;
	height: 128px;
	width: 205px;
}

.homeb3 {
	position: absolute;
	top: 200px;
	left: 696px;
	width: 205px;
	font-size: 14px;
	line-height: 19px;
	color: #555;
	height: 131px;
}

.homeb4 {
	position: absolute;
	top: 343px;
	left: 696px;
	font-size: 14px;
	line-height: 19px;
	width: 205px;
	color: #555;
	height: 138px;
}

.homeb5 {
	position: absolute;
	top: 499px;
	color: #555;
	left: 28px;
	width: 198px;
	height: 38px;
	font-size: 15px;
	font-weight: bold;
}

.homeb6 {
	position: absolute;
	top: 499px;
	left: 248px;
	font-size: 15px;
	font-weight: bold;
	color: #555;
	width: 195px;
	height: 38px;
}

.homeb7 {
	position: absolute;
	top: 499px;
	left: 465px;
	color: #555;
	font-size: 15px;
	font-weight: bold;
	width: 194px;
	height: 37px;
}

.homeb8 {
	position: absolute;
	top: 499px;
	left: 679px;
	font-size: 15px;
	font-weight: bold;
	color: #555;
	width: 197px;
	height: 38px;
}

.homeb9 {
	position: absolute;
	top: 707px;
	left: 28px;
	color: #555;
	height: 118px;
	font-size: 15px;
	line-height: 22px;
	width: 198px;
}

.homeb10 {
	position: absolute;
	top: 707px;
	left: 244px;
	color: #555;
	font-size: 15px;
	line-height: 22px;
	height: 121px;
	width: 200px;
}

.homeb11 {
	position: absolute;
	top: 707px;
	left: 460px;
	font-size: 15px;
	line-height: 22px;
	height: 121px;
	width: 200px;
	color: #555;
}

.homeb12 {
	position: absolute;
	top: 710px;
	left: 680px;
	width: 201px;
	height: 27px;
	color: #555;
}

.homebhead {
	font-size: 23px;
	font-weight: bold;
	padding-bottom: 18px;	
}

.homeb13 {
	position: absolute;
	top: 904px;
	left: 20px;
	color: #555;
	height: 166px;
	width: 300px;
	font-size: 14px;
	line-height: 19px;
}

.homeb14 {
	position: absolute;
	top: 904px;
	left: 330px;
	width: 293px;
	color: #555;
	height: 107px;
	font-size: 14px;
	line-height: 19px;
}

.homeb15 {
	position: absolute;
	top: 1101px;
	left: 20px;
	font-size: 14px;
	line-height: 19px;
	color: #555;
	height: 170px;
	width: 304px;
}

.homeb16 {
	position: absolute;
	top: 1291px;
	color: #555;
	left: 20px;
	width: 529px;
	height: 40px;
}

.homeb17 {
	position: absolute;
	top: 904px;
	left: 611px;
}

.printer {
	position:relative;
	float:right;	
	text-decoration: none;
	color: #515151;
}

#receipt_content h1, .itemprint {
	display: none;	
}

.banner {
  margin-left: -35px;
  margin-top: -40px;
  position: relative;
  width: 311px;
  z-index: 1000;
}